:root {
  background-color: #d2d2d2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
